body{
    /* margin-bottom: 20%;
	margin-left: 20%;
	width: 60%;
	margin: 0 auto;
	background-color: #fff;	 */
	font-size: 15px;
	color: #444;		
	font-family: Georgia;
}
h2 {
	font: sans-serif;		
}
li {
	margin-top: 5px;
	text-align: left;
}

a, a:visited {
	text-decoration: none;
}

p {
	margin: 14px 0;
}

.container{
	width: 1140px;
	padding: 0 20%;
	display: flex;
}

.container h1{
	font-size: 38px;
}

.container h2{
	font-size: 28px;
	text-align: left;
    border-bottom: solid 1px;
}

.container h3{
	font-size: 20px;
}

.informationArea{
	width: 26%;
}

.personalInformation{
	text-align: center;
    position: fixed;
    top: 0;    
    display: flex;
    width: 13%;
    height: 100vh;
    padding: .5rem 1rem;
    flex-direction: column;	
	background-color:#c8edf58f;
}

.personalInformation img{
	width:200px;
	height:200px;
	border-radius: 100%;
}

.Content{	
	display: block;
	width: 74%;	
}

.Summary{
	word-wrap:break-word;
}

.demo a{
	color:blue
}

.demo div{
	margin-bottom: 40px; 
}

.demo span{
	font-weight: bold;
}

.projects p, .demo p{
	text-indent: 20px; 
}