body{
    margin-bottom: 20%;
	margin-left: 20%;
	width: 60%;
	margin: 0 auto;
	background-color: #fff;	
	font-size: 15px;
	color: #444;		
	font-family: Georgia;
}
h2 {
	font: sans-serif;		
}
li {
	margin-top: 5px;
	text-align: left;
}

a, a:visited {
	text-decoration: none;
}

p {
	margin: 14px 0;
}

h1{
	font-size: 38px;
}

h2{
	font-size: 28px;
	text-align: left;
    border-bottom: solid 1px;
}

h3{
	font-size: 20px;
}

.personalInformation{
	display: flex;
	width:100%;
}

.personalInformation img{
	width:200px;
	height:200px;
	border-radius: 100%;
}

.information{
	width:85%;
}

.summary{
	word-wrap:break-word;
}

.demo a{
	color:blue
}

.demo div{
	margin-bottom: 40px; 
}

.demo span{
	font-weight: bold;
}

.summary p, .projects .indent, .demo p{
	text-indent: 20px; 
}

.projects div{
	margin-bottom:30px;
}

.imgDiv{
	display: flex;
}

.imgDiv img{
	height:auto;
	width:200px;
	margin: 5px 5px;
	border: 1px solid;
	cursor: pointer;
}

.table td{
	vertical-align: inherit;
}